html
    head
    body
        h1 pug run
        p express + pug
        ul
            each user in users
                div
                    img(src='images/' + user.username + '_sm.jpg')
                    a(href=user.username) #{user.name.full}
